<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info" >
  <p>
    <%= link_to "Logo", :root %>
  </p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-info" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "MEMBER", :members ,class: "nav-link"%>
      </li>
      <li class="">
        <%= link_to "NEWS", :news ,class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Q&A", :questions ,class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "COMPANY", "/company", class:"nav-link"%>
      </li>
      <li class="nav-item">
    <%= link_to "FORM", "/form" , class:"nav-link"%>
      </li>
    </ul>
  </div>
</nav>
