<h1 class=logo_h>記事詳細</h1>
<h2>
  タイトル:
  <%= @post.title %>
</h2>
<h3>
  ジャンル:
  <%= @post.genre %>
</h3>

<p>
  本文 <br>
  <%=@post.body %>
</p>


<p><%= link_to "編集", :edit_post %></p>
<p><%= link_to "記事一覧へ戻る", :posts %></p>

<!-- TODO  記事所有者だったら削除できるように-->
<% if current_member.admin==true %>
  <p><%= link_to "削除", :post, method: :delete, data:{confirm:"記事を削除してもよろしいでしょうか？"} %></p>
<%end %>