<h1 class="logo_h">
  <%= @page_title%>
</h1>
<%= form_with model: @member ,url: @url ,method: @form_method do |form| %>
<table>
  <tr>
    <th>
      <%= form.label :name %>
    </th>
    <td>
      <%= form.text_field :name %>
    </td>
  </tr>
  <tr>
    <th>
      <%= form.label :introduction%>
    </th>
    <td>
      <%= form.text_field :introduction%>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%=form.submit @submit_body %>
    </td>
  </tr>
</table>

<% end %>
