<h1 class="logo_h">
  <%= @page_title%>
</h1>
<%= form_with(model: member, local: true) do |form| %>
  <%= render "layouts/error_messages",model: member %>

<table>
  <tr>
    <th>
      <%= form.label :name %>
    </th>
    <td>
      <%= form.text_field :name %>
    </td>
  </tr>
  <tr>
    <th>
      <%= form.label :introduction%>
    </th>
    <td>
      <%= form.text_area :introduction, :size => "20x10", placeholder: "空でも可能"%>
    </td>
  </tr>
  <tr>
    <th><%= form.label :birthday %></th>
    <td><%== sprintf(
                 form.date_select(:birthday, :use_month_numbers=>true, :date_separator => '%s', :start_year=>1930, :end_year => Time.now.year, :default =>'1990-1-1'.to_date), '年','月') + '日生まれ' %></td>
  </tr>
  <tr>
    <th><%=form.label :password %></th>
    <td><%=form.password_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation %></th>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%=form.submit @submit_body %>
    </td>
  </tr>


 </table>

<% end %>
