<h1 class="logo_h">
  <%= @page_title%>
</h1>
<<<<<<< HEAD
<%= form_with model: @member ,url: @url ,method: @form_method do |form| %>
=======
<%= form_with model: @member ,url: members_path,method: :post do |form| %>
>>>>>>> origin/master
<table>
  <tr>
    <th>
      <%= form.label :name %>
    </th>
    <td>
      <%= form.text_field :name %>
    </td>
  </tr>
  <tr>
    <th>
      <%= form.label :introduction%>
    </th>
    <td>
<<<<<<< HEAD
      <%= form.text_area :introduction, :size => "20x10"%>
    </td>
  </tr>
  <tr>
    <th><%= form.label :birthday %></th>
    <td><%== sprintf(
                 form.date_select(:birthday, :use_month_numbers=>true, :date_separator => '%s', :start_year=>1930, :end_year => Time.now.year, :default =>'1990-1-1'.to_date), '年','月') + '日生まれ' %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%=form.submit @submit_body %>
    </td>
  </tr>
 </table>

=======
      <%= form.text_field :introduction%>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%=form.submit "新規ユーザーを登録する" %>
    </td>
  </tr>
</table>
>>>>>>> origin/master
<% end %>
