<% @page_title = @member.name+" さんのプロフィール"%>
<h1>
  <%= @page_title%>
</h1>
<table>
  <tr>
    <th>名前</th>
    <td>
      <%=@member.name%>
    </td>
  </tr>
  <tr>
    <th>画像</th>
    <td>
      <div>
        <%=  @member.picture ? "nil": @member.picture%>
      </div>
    </td>
  </tr>
  <tr>
    <th>紹介</th>
    <td>
      <%= @member.introduction%>
    </td>
  </tr>
  <tr>
    <th>年齢</th>
    <td>
      <%= "#{@member.age}才"%>
    </td>
  </tr>
</table>

<div class="attr-links">
  <%= link_to "編集", :edit_member %>
  <%= link_to "削除", :member,method: :delete,   data:{confirm: "メンバーを削除してもよろしいですか？"} %>

</div>
