<<<<<<< HEAD
<% @page_title = @member.name+" さんのプロフィール"%>
<h1>
  <%= @page_title%>
</h1>
=======
>>>>>>> origin/master
<table>
  <tr>
    <th>名前</th>
    <td>
      <%=@member.name%>
    </td>
  </tr>
  <tr>
    <th>画像</th>
    <td>
      <div>
<<<<<<< HEAD
        <%=  @member.picture ? "nil": @member.picture%>
=======
        ここに画像追加予定
>>>>>>> origin/master
      </div>
    </td>
  </tr>
  <tr>
    <th>紹介</th>
    <td>
      <%= @member.introduction%>
    </td>
  </tr>
<<<<<<< HEAD
  <tr>
    <th>誕生日</th>
    <td><%= @member.f_birthday(@member.birthday)%></td>
  </tr>
  <tr>
    <th>得意料理</th>
    <td><%=@member.bestdish %></td>
  </tr>
  <tr>
    <th>座右の銘</th>
    <td><%= @member.motto %></td>
  </tr>
  <tr>
    <th>キャッチフレーズ</th>
    <td><%=@member.catchphrase %></td>
  </tr>
</table>

<div class="attr-links">
  <%= link_to "編集", :edit_member %>
  <%= link_to "削除", :member,method: :delete,   data:{confirm: "メンバーを削除してもよろしいですか？"} %>

</div>
=======
</table>
>>>>>>> origin/master
